@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter Tight", sans-serif;
  background-color: black;
  color: white;
  width: 80%;
  margin: 5rem auto;
}
p {
  color: #ffffff80;
}

/* navbar */
.logo h1 {
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
  color: #e6533c;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-options {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  cursor: pointer;
}

.active {
  padding: 8px 16px;
  background-color: #e6533c;
  border-radius: 32px;
}

.bars {
  display: none;
}
i {
  color: white;
}

/* Banner section */
.banner-section {
  display: flex;
  gap: 500px;
  align-items: center;
  position: relative;
}
.banner-title {
  font-size: 70px;
  font-weight: 900;
}
.title-design {
  font-family: Miama;
  font-weight: 400;
  font-style: italic;
}

.btn {
  border: none;
  padding: 16px 60px;
  border-radius: 40px;
  margin-right: 8px;
}
.btn-active {
  background-color: #e6533c;
  font-size: 20px;
  color: white;
}
.btn-normal {
  background-color: black;
  font-size: 20px;
  color: white;
  border: 1px solid white;
}
.workout-video {
  width: 170px;
  height: 90px;
  line-height: 0;
  background-color: #383737;
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  padding: 0 20px;
  position: absolute;
  right: 50px;
  top: 130px;
}
.workout-video h3 {
  font-size: 30px;
  font-weight: 900;
}
.workout-video p {
  color: #ffffffa6;
}

.video-tutorial {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 170px;
  height: 70px;
  line-height: 0;
  background-color: #3030308a;
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  top: -150px;
}
.video-tutorial .circle {
  height: 25px;
  width: 25px;
  background-color: #e6533c;

  border-radius: 50%;
}
.habits-section {
  margin-top: 80px;
}

.habit-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.habit-description {
  text-align: center;
}
.habit-card {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.card {
  width: 230px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
  border-radius: 100px;
}
.card-title {
  font-size: 20px;
  text-align: center;
  line-height: 0;
  margin-top: 30px;
}
.card-description {
  text-align: center;
}

.running-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.running-content {
  width: 600px;
}
.running-title {
  font-size: 40px;
  font-weight: 900;
}

.running-img img {
  width: 360px;
  height: 310px;
  border-radius: 18px;
}
/* Training section style  */
.training-section {
  margin-top: 80px;
}
.training-title {
  font-size: 40px;
  font-weight: 900;
}
.gallery {
  margin-top: 30px;
}
img {
  width: 100%;
}
.first-row {
  height: 250px;
  display: grid;
  grid-template-columns: 400px auto 400px;
  margin-bottom: -19px;
}
.second-row {
  height: 250px;
  display: grid;
  grid-template-columns: auto 400px 600px;
}
.first-row > div img {
  height: 230px;
}
.second-row > div img {
  height: 230px;
}

/* Team section  */
.team-section {
  margin-top: 80px;
}
.team-title {
  font-size: 40px;
  text-align: center;
}
.team-description {
  text-align: center;
}
.team-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.team-card img {
  height: 270px;
  border-radius: 20px;
}

.footer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.first-col h2 {
  font-size: 25px;
}
.second-col,
.third-col p {
  font-size: 20px;
}
.footer-copyright {
  text-align: center;
  margin-top: 50px;
}
/* Responsive design */
@media screen and (max-width: 576px) {
  .nav-options {
    display: none;
  }
  .bars {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  body {
    margin: 1rem auto;
  }

  .banner-section {
    flex-direction: column;
    gap: 100px;
  }
  .banner-title {
    font-size: 40px;
    font-weight: 900;
  }
  .btn {
    margin-bottom: 20px;
  }
  .workout-video {
    width: 170px;
    height: 90px;
    line-height: 0;
    background-color: #383737;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    padding: 0 20px;
    position: absolute;
    right: 0px;
    top: 700px;
  }
  .habit-card {
    grid-template-columns: 1fr;
  }
  .card {
    width: 90%;
  }
  .running-section {
    flex-direction: column;
    gap: 30px;
  }
  .running-content {
    width: 100%;
  }
  .first-row {
    display: grid;
    grid-template-columns: 170px 200px 0px;
  }
  .second-row {
    display: grid;
    grid-template-columns: 200px 170px 0px;
  }
  .team-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-copyright {
    text-align: start;
  }
}
